@-webkit-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-moz-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-ms-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-o-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-webkit-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-moz-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-ms-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-o-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-webkit-keyframes rotation {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}
@-moz-keyframes rotation {
    from{
        transform : rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@-ms-keyframes rotation {
    from{
        transform : rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@-o-keyframes rotation {
    from{
        transform : rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes rotation {
    from{
        transform : rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
        background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% {
        -webkit-transform: scale(1.0);
        background-color: #a7ff83;
    }
}
@-moz-keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      background-color: #a7ff83;
    }
}
@-ms-keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      background-color: #a7ff83;
    }
}
@-o-keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      background-color: #a7ff83;
    }
}
@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      background-color: #a7ff83;
    }
}
@media (min-width: 801px){
	@-webkit-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-moz-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-ms-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-o-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
}