.--flex-row{
    display: flex;
    flex-direction: row;
}
.--flex-column{
    display: flex;
    flex-direction: column;
}
.--flex-centered{
    align-items: center;
}
.--grid-fill{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem 1rem;
    width: 100%;
}
.--active{
    border-color: black !important;
    background-color: black !important;
    color: white !important;
}
.--disabled{
    color: #5b857e;
}
.--align-end{
    margin: auto 0 0 0;
}
.--auto-grid-fit-two{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}
.--auto-grid-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.--auto-grid-two li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.--full-width{
    width: 100%;
}
.--full-height{
    height: 100vh;
}
.--table-listing{
    font-family: 'Roboto Mono', serif;
    color: white;
    gap: .6rem 0;
}
.--table-listing li{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0 .6rem;
}
.--close-button{
    color: white;
    background-color: transparent;
    border: .1vh solid #086972;
    font-weight: bold;
}
.--confirmation-button{
    border: none;
    background-color: #a6ff83e3;
    color: #071a52;
    font-weight: bold;
}
.--squircle-borders{
    border-radius: .7rem;
}
.--round-borders{
    border-radius: 1.5rem;
}
.--color-cycle{
    -webkit-animation: color-cycle 10s linear infinite alternate;
    -moz-animation: color-cycle 10s linear infinite alternate;
    -o-animation: color-cycle 10s linear infinite alternate;
    animation: color-cycle 10s linear infinite alternate;
}
.--active-navbar{
    background-color: #071a52 !important;
    width: 13rem;
}
.--active-navbar .navbar__items{
    display: flex;
}
.--active-navbar .navbar__hamburguer{
    background-color: #091e5e !important;
    border: 0;
    box-shadow: none;
}
.--active-navbar .navbar__hamburguer svg{
    fill: white;
}
.--neumorphism-borders{
    box-shadow:  .1rem .1rem .3rem #d9d9d9, 
        -.1rem -.1rem .3rem  #ffffff;
    border-radius: .8rem;
}
.--rotating{
    -webkit-transition: transform ease-in-out .2s;
    -moz-transition: transform ease-in-out .2s;
    -ms-transition: transform ease-in-out .2s;
    -o-transition: transform ease-in-out .2s;
    transition: transform ease-in-out .2s;

    -webkit-animation: rotation 2s infinite ease-in-out;
    animation: rotation 2s infinite ease-in-out;
}
.--shaking{
	-webkit-animation: shake 0.2s 2;
	-moz-animation: shake 0.2s 2;
	-o-animation: shake 0.2s 2;
	animation: shake 0.2s 2;
}
.--flex-centered-items{
    align-items: center;
    justify-content: center;
}
.--hidden{
	visibility: hidden;
}
.--reactive-background{
	-webkit-transition: background-color ease-in-out .2s, color ease-in-out .2s;
    -moz-transition: background-color ease-in-out .2s, color ease-in-out .2s;
    -ms-transition: background-color ease-in-out .2s, color ease-in-out .2s;
    -o-transition: background-color ease-in-out .2s, color ease-in-out .2s;
    transition: background-color ease-in-out .2s, color ease-in-out .2s;
}
.--error-cycle{
	background-color: #a83232;
	color: red;
}
@-webkit-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-moz-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-ms-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-o-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-webkit-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-moz-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-ms-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-o-keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@keyframes color-cycle {
    0% {
		background-color: #071a52;
        color: #071a52;
    }
    25% {
		background-color: #086972;
        color: #086972;
    }
    100% {
		background-color: #17b978;
        color: #17b978;
    }
}
@-webkit-keyframes rotation{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes rotation{
    from{
        transform : rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@media (min-width: 801px){
    .--transiotional{
        -webkit-transition: background-color ease-in-out .2s;
        -moz-transition: background-color ease-in-out .2s;
        -ms-transition: background-color ease-in-out .2s;
        -o-transition: background-color ease-in-out .2s;
        transition: background-color ease-in-out .2s;
    }
    .--grid-fill{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70vh, 1fr));
        gap: 0 2vh;
        width: 100%;
    }
    .--button{
        min-height: 5vh;
        padding: 1vh 0 1vh 0;
    }
    .--align-end{
        margin: auto 0 0 0;
    }
    .--auto-grid-fit-two{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55vh, 1fr));
        gap: 5vh;
    }
    .--auto-grid-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8vh;
    }
    .--close-button{
        color: white;
        background-color: transparent;
        border: .1vh solid #086972;
    }
    .--close-button:hover{
        background-color: #086972;
        color: #071a52;
    }
    .--confirmation-button:hover{
        background-color: #a7ff83;
    }
    .--table-listing{
        font-family: 'Roboto Mono', serif;
        color: white;
        gap: 1vh 0;
    }
    .--table-listing li{
        gap: 0 1vh;
    }
    .--squircle-borders{
        border-radius: 1.5vh;
    }
    .--round-borders{
        border-radius: 3vh;
    }
    .--neumorphism-borders{
        box-shadow:  .2vh .2vh .6vh #d9d9d9, 
            -.2vh -.2vh .6vh #ffffff;
        border-radius: 1.5vh;
    }
    @-webkit-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-moz-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-ms-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-o-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
}