<div class="navbar__wrapper">
	<div class="navbar__login" [attr.data-was-dispatched]="wasLoginNavbarDispatched">
		<form [formGroup]="loginForm">
			<app-avatar
				[base64Image]="operator?.photo"
				[@breathe]="loginAvatarBreatheAnimationState"
				(@breathe.done)="onLoginAvatarBreatheAnimationDone()"
				[@shrink]="loginAvatarShrinkAnimationState"
			></app-avatar>
			<mat-form-field
				appearance="outline"
				[attr.data-is-disabled]="loginForm.disabled"
				[@shrink]="loginInputShrinkAnimationState"
			>
				<mat-label>Username</mat-label>
				<input
					matInput
					formControlName="userName"
					[minlength]="NAVBAR_INPUT_USER_NAME_MIN_LENGTH"
					[maxLength]="NAVBAR_INPUT_USER_NAME_MAX_LENGTH"
					required
				>
			</mat-form-field>
			<button
				type="button"
				(click)="onLogin()"
				[@shrink]="loginInputShrinkAnimationState"
				(@shrink.done)="onLoginInputShrinkAnimationDone($event)"
				[disabled]="loginForm.disabled || loginForm.get('userName')?.invalid"
			>
				Login
			</button>
			<div
				class="navbar__login__error"
				[attr.data-was-dispatched]="wasLoginNavbarDispatched"
				[@shrink]="loginInputErrorShrinkAnimationState"
			>
				{{errorMessage}}
			</div>
		</form>
	</div>
	<div
		class="navbar__logged"
 		[@loginSwipe]="wasLoginNavbarDispatched === false ? loginNavbarSwipeAnimationState : 'invalid'"
		(@loginSwipe.done)="onLoginNavbarSwipeAnimationDone($event)"
		[@loggedSwipe]="wasLoginNavbarDispatched ? loggedNavbarSwipeAnimationState : 'invalid'"		
	>
		<div class="navbar__content"></div>
		<button
			class="navbar__hamburguer"
			(click)="onHamburgerClick()"
			[disabled]="wasLoginNavbarDispatched === false"
		>
			<svg
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M2,4A1,1,0,0,1,3,3H21a1,1,0,0,1,0,2H3A1,1,0,0,1,2,4Zm1,9H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Zm0,8H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
			</svg>
		</button>
	</div>
</div>