.form {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	gap: 2rem 0;
  	width: 90%;

  	&__title {
  	  	font-family: "Roboto", serif;
  	  	font-size: 2.5rem;
  	  	display: flex;
  	  	flex-direction: column;
  	  	justify-content: center;
  	  	align-items: center;
  	  	gap: 2rem 0;
  	  	width: 90%;
  	  	padding: 10rem 0 4rem 0;
  	}
  	&__label {
  	  	position: absolute;
  	  	font-family: "Roboto Mono", serif;
  	  	font-weight: bold;
  	  	-webkit-transition: all ease-in-out 0.1s;
  	  	-moz-transition: all ease-in-out 0.1s;
  	  	-ms-transition: all ease-in-out 0.1s;
  	  	-o-transition: all ease-in-out 0.1s;
  	  	transition: all ease-in-out 0.1s;
  	  	pointer-events: none;
  	  	color: #333;
  	  	opacity: 0.4;
  	  	font-size: 1rem;
  	  	margin: 1.5rem 0 0 1.2rem;
  	}
  	&__group {
  	  	display: flex;
  	  	flex-direction: column;
  	  	width: 100%;
  	}
  	&__input:focus + &__label,
  	&__input:not(:focus):valid + &__label {
  	  	font-size: 0.8rem;
  	  	margin: 0.5rem 0 0 0.6rem;
  	  	opacity: 1;
  	}
  	&__input:focus,
  	&__input:not(:focus):valid {
  	  	background-color: white;
  	}
  	&__input {
  	  	font-family: "Roboto Mono", serif;
  	  	-webkit-transition: background-color ease-in-out 0.2s;
  	  	-moz-transition: background-color ease-in-out 0.2s;
  	  	-ms-transition: background-color ease-in-out 0.2s;
  	  	-o-transition: background-color ease-in-out 0.2s;
  	  	transition: background-color ease-in-out 0.2s;
  	  	font-size: 1rem;
  	  	border: 0.1rem solid black;
  	  	border-radius: 0.6rem;
  	  	height: 3.5rem;
  	  	padding: 0.5rem 0.5rem 0 0.5rem;
  	  	width: 95%;
  	  	background-color: white;

  	  	&:invalid {
  	  	  	box-shadow: none;
  	  	  	outline: none;
  	  	}
  	  	&:focus {
  	  	  	box-shadow: none;
  	  	  	outline: none;
  	  	  	border-color: #071a52;
  	  	}
  	}
  	&__submit {
  	  	font-family: "Roboto", serif;
  	  	-webkit-transition: all ease-in-out 0.2s;
  	  	-moz-transition: all ease-in-out 0.2s;
  	  	-ms-transition: all ease-in-out 0.2s;
  	  	-o-transition: all ease-in-out 0.2s;
  	  	transition: all ease-in-out 0.2s;
  	  	font-size: 1rem;
  	  	padding: 0;
  	  	background-color: transparent;
  	  	border: 0.1rem solid black;
  	  	border-radius: 0.6rem;
  	  	height: 4rem;
  	  	width: 55%;

  	  	&:hover,
  	  	&:active {
  	  	  	background-color: #071a52;
  	  	  	color: white;
  	  	}
  	  	&[disabled="disabled"],
  	  	&:disabled {
  	  	  	border-color: #808080;
  	  	  	background-color: #808080;
  	  	  	color: white;
  	  	}
  	  	&[disabled="disabled"]:hover,
  	  	&:disabled:hover {
  	  	  	cursor: default;
  	  	}
  	}
  	&__feedback {
  	  	font-family: "Roboto", serif;
  	  	color: #a11521;
  	  	-webkit-animation: shake 0.2s 2;
  	  	-moz-animation: shake 0.2s 2;
  	  	-o-animation: shake 0.2s 2;
  	  	animation: shake 0.2s 2;
  	  	font-size: 1.15rem;
  	  	margin: 1rem 0 0 0;
  	}
}
@media (min-width: 801px) {
  .form {
    	gap: 4vh 0;
    	width: 60%;

    	&__title {
    	  	font-size: 5.5vh;
    	}
    	&__label {
    	  	font-size: 2.4vh;
    	  	margin: 3vh 0 0 2vh;
    	}
    	&__input:focus + &__label,
    	&__input:not(:focus):valid + &__label {
    	  	font-size: 1.6vh;
    	  	margin: 1vh 0 0 1vh;
    	}
    	&__input {
    	  	border: 0.1vh solid black;
    	  	border-radius: 1vh;
    	  	font-size: 2.5vh;
    	  	height: 7vh;
    	  	padding: 1.2vh 1vh 0 1vh;
    	}
    	&__submit {
    	  	width: 40%;
    	  	font-size: 2vh;
    	  	border: 0.1vh solid black;
    	  	border-radius: 1vh;
    	  	height: 8vh;
    	}
    	&__submit:hover {
    	  	cursor: pointer;
    	}
    	&__feedback {
    	  	margin: 2vh 0 0 0;
    	  	font-size: 2.25vh;
    	}
  	}
}
