$background: #ffffff;
$foreground: #0f0f0f;
$foreground-bright: #34465C;
$foreground-brighter: #ACC5E3;
$foreground-disabled: #657385;
$foreground-disabled-dark: #505a68;
$accent-dark: rgb(2, 70, 64);
$accent-bright: rgb(0, 200, 150);
$accent-brighter: rgb(55, 238, 192);
$yellow-dark: #C79D39;
$red-dark: #F44336;
$red-light: #E9564B;

$border-radius: 14px;
$max-z-index: 100;