$background: #ffffff;
$foreground: #0f0f0f;
$foreground-bright: #34465c;
$foreground-brighter: #acc5e3;
$foreground-disabled: #657385;
$foreground-disabled-dark: #505a68;
$accent-dark: rgb(2, 70, 64);
$accent-bright: rgb(0, 200, 150);
$accent-brighter: rgb(55, 238, 192);
$yellow-dark: #c79d39;
$red-dark: #f44336;
$red-light: #e9564b;

$border-radius: 14px;
$max-z-index: 100;
