@font-face {
    font-family: 'Roboto-Mono-Regular';
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.svg#svgRoboto-Mono-Regular')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Thin';
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.svg#svgRoboto-Mono-Regular')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Light';
    src: url('../../fonts/Roboto-Mono/Thin/Roboto-Mono-Thin.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Thin/Roboto-Mono-Thin.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Thin/Roboto-Mono-Thin.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Thin/Roboto-Mono-Thin.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Thin/Roboto-Mono-Thin.svg#svgRoboto-Mono-Thin')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Italic';
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Regular/Roboto-Mono-Regular.svg#svgRoboto-Mono-Regular')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Semi-Bold';
    src: url('../../fonts/Roboto-Mono/Semi-Bold/Roboto-Mono-Semi-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Semi-Bold/Roboto-Mono-Semi-Bold.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Semi-Bold/Roboto-Mono-Semi-Bold.woff')
            format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Semi-Bold/Roboto-Mono-Semi-Bold.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Semi-Bold/Roboto-Mono-Semi-Bold.svg#svgRoboto-Mono-Semi-Bold')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Bold';
    src: url('../../fonts/Roboto-Mono/Bold/Roboto-Mono-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Bold/Roboto-Mono-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Bold/Roboto-Mono-Bold.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Bold/Roboto-Mono-Bold.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Bold/Roboto-Mono-Bold.svg#svgRoboto-Mono-Bold')
            format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Mono-Medium';
    src: url('../../fonts/Roboto-Mono/Medium/Roboto-Mono-Medium.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Mono/Medium/Roboto-Mono-Medium.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../../fonts/Roboto-Mono/Medium/Roboto-Mono-Medium.woff') format('woff'),
        /* Modern Browsers */ url('../../fonts/Roboto-Mono/Medium/Roboto-Mono-Medium.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../fonts/Roboto-Mono/Medium/Roboto-Mono-Medium.svg#svgRoboto-Mono-Medium')
            format('svg'); /* Legacy iOS */
}
