.block__separator {
    width: 100%;
    margin: 4rem 0 1.5rem 0;

    &__title {
        width: 100%;
        position: relative;

        & span {
            &[title-type='primary'] {
                font-family: 'Roboto-Regular';
                font-weight: 600;
                font-size: 2rem;
            }

            &[title-type='secondary'] {
                font-family: 'Roboto-Regular';
                font-weight: 500;
                font-size: 1.25rem;
            }

            &[title-type='mono-primary'] {
                font-family: 'Roboto-Mono-Regular';
                font-weight: 600;
                font-size: 2rem;
            }

            &[title-type='mono-secondary'] {
                font-family: 'Roboto-Mono-Regular';
                font-weight: 500;
                font-size: 1.25rem;
            }

            margin: -1rem 0 2.5rem 0;
            padding: 0 0.5rem;
            color: black;
            text-align: center;
            text-decoration: none;
        }
    }

    &__content {
        width: 100%;
    }

    &[contains-borders='false'][contains-title-borders='true'] {
        & .block__separator__title {
            & div {
                width: 100%;
                border-top: 0.1vh solid black;

                -webkit-transition: border-color ease-in-out 0.3s;
                -moz-transition: border-color ease-in-out 0.3s;
                -ms-transition: border-color ease-in-out 0.3s;
                -o-transition: border-color ease-in-out 0.3s;
                transition: border-color ease-in-out 0.3s;
            }

            & span {
                position: absolute;

                -webkit-transition: color ease-in-out 0.3s, text-decoration ease-in-out 0.3s;
                -moz-transition: color ease-in-out 0.3s, text-decoration ease-in-out 0.3s;
                -ms-transition: color ease-in-out 0.3s, text-decoration ease-in-out 0.3s;
                -o-transition: color ease-in-out 0.3s, text-decoration ease-in-out 0.3s;
                transition: color ease-in-out 0.3s, text-decoration ease-in-out 0.3s;
            }
        }
    }

    &[contains-borders='true'] {
        & .block__separator__content {
            border: 0.1vh solid black;

            -webkit-transition: border-color ease-in-out 0.3s;
            -moz-transition: border-color ease-in-out 0.3s;
            -ms-transition: border-color ease-in-out 0.3s;
            -o-transition: border-color ease-in-out 0.3s;
            transition: border-color ease-in-out 0.3s;
        }
    }
}

@media (min-width: 801px) {
    .block__separator {
        margin: 8vh 0 3vh 0;

        &__title {
            & span {
                &[title-type='primary'] {
                    font-size: 4vh;
                }

                &[title-type='secondary'] {
                    font-size: 2.5vh;
                }

                &[title-type='mono-primary'] {
                    font-size: 4vh;
                }

                &[title-type='mono-secondary'] {
                    font-size: 2.5vh;
                }

                padding: 0 2vh;
            }
        }

        &[is-hover-reactive='true'] {
            &:hover {
                .block__separator__title {
                    & span {
                        color: #73a8a0;
                        text-decoration: underline;
                    }
                }

                &[contains-borders='true'] {
                    .block__separator__content {
                        border-color: #73a8a0;
                    }
                }

                &[contains-borders='false'][contains-title-borders='true'] {
                    .block__separator__title {
                        & div {
                            border-color: #73a8a0;
                        }
                    }
                }
            }
        }

        &[contains-borders='false'][contains-title-borders='true'] {
            & .block__separator__title {
                & div {
                    border-top: 0.1vh solid black;
                }

                & span {
                    margin: -2vh 0 5vh 0;
                }
            }
        }

        &[contains-borders='true'] {
            & .block__separator__content {
                border: 0.1vh solid black;
            }
        }
    }
}
