$app-input-border-raidus: 1.5vh;

app-login-view {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $foreground;
	height: 100vh;

	& form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 80vw;
		gap: 2vh 0;
	
		.avatar {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin: 0 auto 4vh auto;
		}

		mat-form-field {
			font-family: 'Comfortaa';
			font-weight: 600;
			color: $foreground-brighter;
			width: 100%;

			input {
				color: $foreground-brighter;
				height: clamp(3rem, 4vh + 1rem, 6rem) !important;
			}
		
			.mat-mdc-text-field-wrapper {
				background-color: $foreground-bright;
				border-radius: $app-input-border-raidus;
				box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
			}

			.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
				border-color: transparent;
			}

			.mdc-notched-outline__leading {
				border-top-left-radius: $app-input-border-raidus !important;
				border-bottom-left-radius: $app-input-border-raidus !important;
			}

			.mdc-notched-outline__trailing {
				border-top-right-radius: $app-input-border-raidus !important;
				border-bottom-right-radius: $app-input-border-raidus !important;
			}

			.mdc-notched-outline--notched {
				color: $yellow-dark;
			}
		}

		button {
			width: 70%;
			height: clamp(3rem, 4vh + 1rem, 6rem);
			background-color: transparent;
			border: solid 2px transparent;
			border-radius: $app-input-border-raidus;
			border-color: $foreground-bright;
			outline: transparent;
			font-family: 'Comfortaa';
			font-size: 1.2rem;
			color: $foreground-brighter;
			box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

			transition: color ease-in-out 300ms, border-color ease-in-out 300ms, background-color ease-in-out 300ms;

			&:hover {
				cursor: pointer;
			}

			&:hover, &:focus {
				color: $yellow-dark;
				border-color: transparent;
				background-color: $foreground-bright;
			}
		}
	}
}

@media (min-width: 801px) {
	app-login-view {
		& form {
			width: 20vw;

			& mat-form-field {
				& button {
					font-size: 1rem;
				}
			}
		}
	}
}