body{
    display: flex;
    flex-direction: row;
}
body, html{
    height: 100%;
    min-height: 100%;
}
main{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.dashboard{
    display: flex;
    flex-direction: column;
}
.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}
.navbar__hamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 1rem;
}
.navbar__hamburguer svg{
    width: 2rem;
    height: 2rem;
    fill: #071a52;
}
.navbar__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', serif;
    background-color: #086972;
    color: white;
    pointer-events: none;
    border-radius: .7rem;
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    margin: 0 3rem;
}
.navbar__items{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 85%;
    margin: 1rem 0 1rem 0;
    gap: 2rem 0;
}
.navbar__item-list{
    width: 100%;
}
.navbar__table-listing{
    overflow-y: auto;
    max-height: 28rem;
    font-size: .8rem;
}
.navbar__table-listing li span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 18vh;
}
.navbar__table-listing li svg{
    -webkit-transition: fill ease-in-out .2s;
    -moz-transition: fill ease-in-out .2s;
    -ms-transition: fill ease-in-out .2s;
    -o-transition: fill ease-in-out .2s;
    transition: fill ease-in-out .2s;

    fill: #086972;
    height: 1.2rem;
    width: 1.2rem;
}
.navbar__button-container{
    height: 100%;
    padding: .6vh 0;
}
.navbar__button{
    background-color: transparent;
    border: none;
    fill: white;
    height: 1.7rem;
    padding: 0;
}
.navbar__button svg{
    height: 100%;
    width: 100%;
}
#alertBox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.alert-box{
    width: 100%;
    position: absolute;
    justify-content: center;
    opacity: 0;
    top: 18rem;
}
.alert-box__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071a52;
    padding: 2rem 1rem;
    min-width: 15rem;
}
.alert-box__text{
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: 'Roboto', serif;
    color: white;
    max-width: 25rem;
    font-size: 1rem;
    margin: 0 0 2.5rem 0;
}
.alert-box__button-list{
    gap: 2rem;
}
.alert-box__button{
    padding: 0 .5rem;
    font-family: 'Roboto Mono', serif;
    min-width: 8rem;
    min-height: 2.7rem;
    font-size: .8rem;
}
.page{
    width: 90%;
    margin: 4rem auto 2rem auto;
}
.page__title{
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 700;
    color: #071a52;
    font-size: 3rem;
    margin: 0 auto 0 auto;
}
.page__graphs{
    margin: 4rem 0 0 0;
    gap: 2rem 0;
}
.page__graph{
    width: 100%;
    height: 100%;
    min-height: 15rem;
}
.loader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
    height: 100%;
}
.loader div:nth-of-type(1), .loader div:nth-of-type(2), .loader div:nth-of-type(3){
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    opacity: 0.6;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.loader div:nth-of-type(1){
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;   
}
.loader div:nth-of-type(2){
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.loader div:nth-of-type(3){
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
.--system-graphs{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem 0;
}
.page__semi-donut-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 0;
}
.page__semi-donut-title{
    font-family: 'Nunito', serif;
    font-weight: bold;
    font-size: 2.2rem;
}
.page__semi-donut{
    --percentage: 0;
    --fill: #ff0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
    width: 15rem;
    height: 7.5rem;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    overflow: hidden;
    margin: 0 auto;
    color: var(--fill);
    font-family: 'Nunito', serif;
    font-weight: 800;
}
.page__semi-donut::after{
    content: '';
    width: 15rem;
    height: 15rem;
    border: 1.7rem solid;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation: fillAnimation 1s ease-in-out;
}
@keyframes fillAnimation{
    0%{
        transform : rotate(-45deg);
    }
    50%{
        transform: rotate(135deg);
    }
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
        background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% {
        -webkit-transform: scale(1.0);
        background-color: #a7ff83;
    }
} 
@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
      background-color: #086972;
    }
    25% {
        background-color: #96e675; 
    }
    50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      background-color: #a7ff83;
    }
}
@media (min-width: 801px){
    .navbar{
        position: relative;
        background-color: #071a52;
    }
    .navbar__hamburguer{
        display: none;
    }
    .navbar__hamburguer svg path{
        -webkit-transition: transform ease-in-out .2s;
        -moz-transition: transform ease-in-out .2s;
        -ms-transition: transform ease-in-out .2s;
        -o-transition: transform ease-in-out .2s;
        transition: transform ease-in-out .2s;
    }
    .navbar__logo{
        border-radius: 1.5vh;
        width: 13vh;
        height: 13vh;
        font-size: 4.5vh;
        margin: 0 6vh;
    }
    .navbar__items{
        display: flex;
        margin: 3vh 0 3vh 0;
        gap: 5vh 0;
    }
    .navbar__item-list{
        width: 100%;
    }
    .navbar__table-listing{
        max-height: 65vh;
        font-size: 1.7vh;
    }
    .navbar__button-container{
        -webkit-transition: background-color ease-in-out .2s;
        -moz-transition: background-color ease-in-out .2s;
        -ms-transition: background-color ease-in-out .2s;
        -o-transition: background-color ease-in-out .2s;
        transition: background-color ease-in-out .2s;

        border-radius: 1.5vh;
        height: 100%;
        padding: 1vh 0;
    }
    .navbar__button{
        -webkit-transition: fill ease-in-out .2s;
        -moz-transition: fill ease-in-out .2s;
        -ms-transition: fill ease-in-out .2s;
        -o-transition: fill ease-in-out .2s;
        transition: fill ease-in-out .2s;

        width: 3vh;
        height: 3vh;
    }
    .navbar__table-listing li:hover{
        cursor: pointer;
    }
    .navbar__table-listing li:hover svg{
        fill: #a7ff83;
    }
    .navbar__button-container:hover{
        background-color: rgba(20, 69, 217, .15);
    }
    .navbar__button:hover{
        cursor: pointer;
        fill: #a7ff83;
    }
    .alert-box{
        top: 35vh;
    }
    .alert-box__content{
        padding: 4vh 2vh;
        min-width: 55vh;
    }
    .alert-box__text{
        max-width: 50vh;
        font-size: 2.6vh;
        margin: 0 0 5vh 0;
    }
    .alert-box__button-list{
        gap: 5vh;
    }
    .alert-box__button{
        padding: 0 1vh;
        min-width: 15vh;
        min-height: 5vh;
        font-size: 1.6vh;
    }
    .alert-box__button:hover{
        cursor: pointer;
    }
    .page{
        margin: 8vh auto;
    }
    .page__title{
        text-align: left;
        display: inline-block;
        font-size: 6vh;
    }
    .page__graphs{
        margin: 8vh 0 0 0;
        gap: 4vh 0;
    }
    .page__semi-donut-wrapper{
        gap: 3vh 0;
    }
    .page__semi-donut-title{
        font-size: 3.5vh;
    }
    .page__graph{
        min-height: 30vh;
    }
    .loader{
        gap: 1vh;
    }
    .loader div:nth-of-type(1), .loader div:nth-of-type(2), .loader div:nth-of-type(3){
        width: 2vh;
        height: 2vh;
    }
    .--system-graphs{
        grid-template-columns: repeat(auto-fit, minmax(35vh, 1fr));
        gap: 5vh 0;
    }
    .--extended-graph{
        max-height: 35vh;
    }
    .page__semi-donut{
        width: 30vh;
        height: 15vh;
        font-size: 3.3vh;
    }
    .page__semi-donut::after{
        width: 30vh;
        height: 30vh;
        border: 3.5vh solid;
        border-color: #dbdbdb #dbdbdb var(--fill) var(--fill);
    }
}