body, html{
    height: 100%;
    min-height: 100%;
}
.dashboard{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 10rem;
    background-color: #071a52;
}
.navbar__logo{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', serif;
   background-color: #086972;
   color: white;
   pointer-events: none;
   border-radius: .7rem;
   width: 6rem;
   height: 6rem;
   font-size: 2rem;
}
.navbar__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 85%;
    padding: 1rem 0 1rem 0;
    gap: 2rem 0;
}
.navbar__item-list{
    width: 100%;
}
.navbar__table-listing{
    overflow-y: auto;
    max-height: 32rem;
    font-size: .8rem;
}
.navbar__table-listing li span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 18vh;
}
.navbar__table-listing li svg{
    -webkit-transition: fill ease-in-out .2s;
    -moz-transition: fill ease-in-out .2s;
    -ms-transition: fill ease-in-out .2s;
    -o-transition: fill ease-in-out .2s;
    transition: fill ease-in-out .2s;

    fill: #086972;
    height: 2.3vh;
    width: 2.3vh;
}
.navbar__table-listing li:hover{
    cursor: pointer;
}
.navbar__table-listing li:hover svg{
    fill: #a7ff83;
}
.navbar__button-container{
    height: 100%;
    padding: .6vh 0;
}
.navbar__button{
    background-color: transparent;
    border: none;
    fill: white;
    height: 1.7rem;
}
.navbar__button svg{
    height: 100%;
    width: 100%;
}
#alertBox{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.alert-box{
    width: 100%;
    position: absolute;
    justify-content: center;
    opacity: 0;
    top: 20rem;
}
.alert-box__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071a52;
    padding: 2rem 1rem;
    min-width: 15rem;
}
.alert-box__text{
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: 'Roboto', serif;
    color: white;
    max-width: 25rem;
    font-size: 1rem;
    margin: 0 0 2.5rem 0;
}
.alert-box__button-list{
    gap: 2rem;
}
.alert-box__button{
    padding: 0 .5rem;
    font-family: 'Roboto Mono', serif;
    min-width: 8rem;
    min-height: 2.7rem;
    font-size: .8rem;
}
@media (min-width: 801px){
    .navbar{
        width: 28vh;
    }
    .navbar__logo{
        border-radius: 1.5vh;
        width: 13vh;
        height: 13vh;
        font-size: 4.5vh;
    }
    .navbar__items{
        padding: 2vh 0 3vh 0;
        gap: 5vh 0;
    }
    .navbar__item-list{
        width: 100%;
    }
    .navbar__table-listing{
        max-height: 65vh;
        font-size: 1.7vh;
    }
    .navbar__button-container{
        -webkit-transition: background-color ease-in-out .2s;
        -moz-transition: background-color ease-in-out .2s;
        -ms-transition: background-color ease-in-out .2s;
        -o-transition: background-color ease-in-out .2s;
        transition: background-color ease-in-out .2s;

        border-radius: 1.5vh;
        height: 100%;
        padding: 1vh 0;
    }
    .navbar__button{
        -webkit-transition: fill ease-in-out .2s;
        -moz-transition: fill ease-in-out .2s;
        -ms-transition: fill ease-in-out .2s;
        -o-transition: fill ease-in-out .2s;
        transition: fill ease-in-out .2s;

        height: 3.5vh;
    }
    .navbar__button-container:hover{
        background-color: rgba(20, 69, 217, .15);
    }
    .navbar__button:hover{
        cursor: pointer;
        fill: #a7ff83;
    }
    .alert-box{
        top: 35vh;
    }
    .alert-box__content{
        padding: 4vh 2vh;
        min-width: 55vh;
    }
    .alert-box__text{
        max-width: 50vh;
        font-size: 2.6vh;
        margin: 0 0 5vh 0;
    }
    .alert-box__button-list{
        gap: 5vh;
    }
    .alert-box__button{
        padding: 0 1vh;
        min-width: 15vh;
        min-height: 5vh;
        font-size: 1.6vh;
    }
    .alert-box__button:hover{
        cursor: pointer;
    }
}