/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    color: black;
    text-decoration: none;
}
.--flex-row{
    display: flex;
    flex-direction: row;
}
.--flex-column{
    display: flex;
    flex-direction: column;
}
.--flex-centered{
    align-items: center;
}
.--grid-fill{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem 1rem;
    width: 100%;
}
.--active{
    border-color: black !important;
    background-color: black !important;
    color: white !important;
}
.--disabled{
    color: #5b857e;
}
.--align-end{
    margin: auto 0 0 0;
}
.--auto-grid-fit-two{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}
.--auto-grid-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.--auto-grid-two li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.--full-width{
    width: 100%;
}
.--full-heigth{
    height: 100%;
}
.--table-listing{
    font-family: 'Roboto Mono', serif;
    color: white;
    gap: .6rem 0;
}
.--table-listing li{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0 .6rem;
}
.--close-button{
    color: white;
    background-color: transparent;
    border: .1vh solid #086972;
    font-weight: bold;
}
.--confirmation-button{
    border: none;
    background-color: #a6ff83e3;
    color: #071a52;
    font-weight: bold;
}
.--squircle-borders{
    border-radius: .7rem;
}
.--round-borders{
    border-radius: 1.5rem;
}
.--text-color-cycle{
    -webkit-animation: text-color-cycle 5s linear infinite alternate;
    -moz-animation: text-color-cycle 5s linear infinite alternate;
    -o-animation: text-color-cycle 5s linear infinite alternate;
    animation: text-color-cycle 5s linear infinite alternate;
}
.--active-navbar{
    background-color: #071a52 !important;
}
.--active-navbar .navbar__items{
    display: flex;
}
.--active-navbar .navbar__hamburguer{
    background-color: #091e5e !important;
}
.--active-navbar .navbar__hamburguer svg{
    fill: white;
}
.--active-navbar .navbar__hamburguer svg path:nth-child(1){
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
}
.--active-navbar .navbar__hamburguer svg path:nth-child(2){
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
}
@-webkit-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-moz-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-ms-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-o-keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@keyframes shake {
    0% {
        padding: 0;
    }
    25% {
        padding: 0 0 0 1rem;
    }
    50% {
        padding: 0 1rem 0 0;
    }    
    100% {
        padding: 0;
    }
}
@-webkit-keyframes text-color-cycle {
    0% {
        color: #071a52;
    }
    33% {
        color: #086972;
    }
    66% {
        color: #17b978;
    }
    100%{
        color: #96e675;
    }
}
@-moz-keyframes text-color-cycle {
    0% {
        color: #071a52;
    }
    33% {
        color: #086972;
    }
    66% {
        color: #17b978;
    }
    100%{
        color: #96e675;
    }
}
@-ms-keyframes text-color-cycle {
    0% {
        color: #071a52;
    }
    33% {
        color: #086972;
    }
    66% {
        color: #17b978;
    }
    100%{
        color: #96e675;
    }
}
@-o-keyframes text-color-cycle {
    0% {
        color: #071a52;
    }
    33% {
        color: #086972;
    }
    66% {
        color: #17b978;
    }
    100%{
        color: #96e675;
    }
}
@keyframes text-color-cycle {
    0% {
        color: #071a52;
    }
    33% {
        color: #086972;
    }
    66% {
        color: #17b978;
    }
    100%{
        color: #96e675;
    }
}
@media (min-width: 801px){
    .--transiotional{
        -webkit-transition: background-color ease-in-out .2s;
        -moz-transition: background-color ease-in-out .2s;
        -ms-transition: background-color ease-in-out .2s;
        -o-transition: background-color ease-in-out .2s;
        transition: background-color ease-in-out .2s;
    }
    .--grid-fill{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70vh, 1fr));
        gap: 0 2vh;
        width: 100%;
    }
    .--button{
        min-height: 5vh;
        padding: 1vh 0 1vh 0;
    }
    .--align-end{
        margin: auto 0 0 0;
    }
    .--auto-grid-fit-two{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55vh, 1fr));
        gap: 5vh;
    }
    .--auto-grid-two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8vh;
    }
    .--close-button{
        color: white;
        background-color: transparent;
        border: .1vh solid #086972;
    }
    .--close-button:hover{
        background-color: #086972;
        color: #071a52;
    }
    .--confirmation-button:hover{
        background-color: #a7ff83;
    }
    .--table-listing{
        font-family: 'Roboto Mono', serif;
        color: white;
        gap: 1vh 0;
    }
    .--table-listing li{
        gap: 0 1vh;
    }
    .--squircle-borders{
        border-radius: 1.5vh;
    }
    .--round-borders{
        border-radius: 3vh;
    }
    @-webkit-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-moz-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-ms-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @-o-keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
    @keyframes shake {
        0% {
            padding: 0;
        }
        25% {
            padding: 0 0 0 2vh;
        }
        50% {
            padding: 0 2vh 0 0;
        }    
        100% {
            padding: 0 ;
        }
    }
}